* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 30px 100px auto;
}

h1 {
  grid-row: 1;
  text-align: center;
  margin: 20px 0;
  font-size: 36px;
}

input {
  border-radius: 3px;
  border: 1px solid lightgrey;
}

.forms {
  /*background: rgba(0, 0, 0, .6);*/
  /*width: 110%;*/
  /*margin: 0 0 20px -20px;*/
  /*color: #FFF;*/
  border-bottom: 1px solid #FFF;
}

.color-section {
  display: grid;
  grid-column: 1;
}

.colors {
  box-sizing: border-box;
  height: 20vh;
}

.colors div {
  margin: 20% auto;
}

.lock-btn {
  opacity: 0;
  display: block;
  margin: auto;
  height: 30px;
  width: 30px;
  background-image: url('/images/open-lock.svg');
  background-size: 30px;
  background-color: inherit;
  border: none;
}

.lock {
  background-image: url('/images/lock-icon.svg');
  opacity: 1;
}

.colors p {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.colors:hover .lock-btn {
  opacity: 1;
}

.right-section {
  display: grid;
  grid-column: 2;
  padding: 0 20px 20px 20px;
  height: 100vh;
  overflow-y: scroll;
  background-image: url('/images/Large_grey.jpg');
}

.left-section {
  max-height: 100vh;
}

.new-palette-btn {
  grid-row: 2;
  display: block;
  height: 30px;
  width: 66%;
  padding: 0 20px;
  margin: 0 auto;
  background: #FFF;
  border-radius: 5px;
}

.palette-form {
  width: fit-content;
  margin: 20px auto 0 auto;
}

.project-form {
  margin: 20px;
  text-align: center;
}

.project-list {
  width: fit-content;
  margin-top: 20px;
}

.project-colors {
  height: 200px;
  width: 140px;
  box-shadow: 1px 1px 5px 0;
  display: inline-block;
  margin: 15px 15px 15px 0;
  position: relative;
  background: #FFF
}

.project-colors .delete {
  background-image: url('/images/trash.svg');
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  border: none;
  position: absolute;
  bottom: 16px;
  right: 5px;
}

.project-colors h5 {
  margin-top: 18px;
  padding-left: 5px;
  display: inline-grid;
}

.project-colors .delete:hover {
  background-image: url('/images/trash-red.svg');
}

.palette-colors {
  height: 30px;
}

#drop-down-menu {
  -webkit-appearance: menulist-button;
  background: #FFF;
}