* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 30px 100px auto;
}

h1 {
  grid-row: 1;
  text-align: center;
  margin: 20px 0;
  font-size: 36px;
}

.color-section {
  display: grid;
  grid-column: 1;
}

.colors {
  box-sizing: border-box;
  height: 20vh;
}

.colors div {
  /*opacity: 0;*/
  margin: 10% auto;
}

.lock-btn {
  opacity: 0;
  display: block;
  margin: auto;
  height: 30px;
  width: 30px;
  background-image: url('/images/open-lock.svg');
  background-size: 30px;
  background-color: inherit;
  border: none;
}

.lock {
  background-image: url('/images/lock-icon.svg');
  opacity: 1;
}



/*.lock-btn:hover {
  box-shadow: 0 0 4px 4px;
}*/

.colors p {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.colors:hover .lock-btn {
 opacity: 1;
}

.right-section {
  display: grid;
  grid-column: 2;
  padding: 0 20px 20px 20px;
}

.new-palette-btn {
  grid-row: 2;
  display: block;
  height: 30px;
  width: fit-content;
  padding: 0 20px;
  margin: 0 auto;
}

.palette-form {
  width: fit-content;
  margin: auto;
}

.project-form {
  margin: auto;
}

.project-list {
  width: fit-content;
}

.project-colors {
  height: 200px;
  width: 125px;
  box-shadow: 0 0 5px 0;
  display: inline-block;
  margin: 15px;
}

.project-colors .delete {
  background-image: url('/images/delete-button.svg');
  background-size: 20px;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  border: none;
}

.project-colors .delete:hover {
  background-image: url('/images/delete-button-red.svg');
}

.palette-colors {
  height: 30px;
  /*width: 20px;
  display: inline-block;*/
}